* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* nav bar started */
.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-shadow: 0px 0px 10px rgba(48, 48, 48, 0.682);
}

.logo img {
    height: 60px;
}

.logo a {
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navContainer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
    background-color: #8EC5FC;
    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
    flex-wrap: wrap;
    padding: 10px;
}

.navContainer b {
    font-size: xx-large;
}

.navContainer a {
    text-decoration: none;
    color: black;
}

.links {
    display: flex;
    gap: 30px;
    font-weight: bold;
    text-shadow: 0px 0px 10px rgba(48, 48, 48, 0.682);
}

.links a {
    transition: all 0.2s linear 0s;
}

.links a:hover {
    transform: scale(1.1);
}

/* overlay nav Icon css started */
.navIcon {
    font-size: 30px;
    cursor: pointer;
    display: none;
}

.overlay {
    height: 100%;
    width: 101%;
    display: none;
    position: fixed;
    padding-top: 100px;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.overlay a:hover {
    color: #f1f1f1;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

@media (max-width: 515px) {
    .links {
        display: none;
    }

    .navIcon {
        display: block;
    }

    .overlay a {
        font-size: 20px
    }

    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }

}

/* overlay nav Icon css ended */

/* nav bar ended */



footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.56);
    color: white;
    height: 39px;
}

.container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 130px;
    padding-bottom: 130px;
    scroll-behavior: auto;
    gap: 30px;
    /* background-color: #a1cdf884;
    background-image: linear-gradient(62deg, #a4d0fd85 0%, #e6d5f685 100%); */
    background-color: azure;
}

@media (max-width: 414px) {
    .container {
        padding-bottom: 120px;
    }
}

.first {
    display: flex;
    margin-bottom: 30px;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 70%;
    grid-gap: 20px;
}

.second {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 70%;
    grid-gap: 20px;
}

@media (max-width: 590px) {
    .first {
        gap: 20px;
    }

    .second {
        gap: 20px;
    }

    .container {
        gap: 0px;
        padding-top: 40px;
        padding-bottom: 50px;
    }
}

.card {
    width: 200px;
    max-height: fit-content;
    background-color: rgb(227, 251, 251);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 10px;
    transition: all 0.2s linear 0s;
    box-shadow: 0px 0px 30px black;
    cursor: pointer;
    flex-wrap: wrap;
}

.card img {
    filter: drop-shadow(0px 0px 10px black);
}

.card:hover {
    transform: scale(1.1);
}

.card h2 {
    font-weight: bold;
    text-shadow: 0px 0px 2px rgba(39, 38, 38, 0.812);
}

.card li {
    color: #363535;
    text-shadow: 0px 0px 5px rgba(39, 38, 38, 0.496);
}

.container img {
    width: 100px;
}