* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* nav bar started */
.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-shadow: 0px 0px 10px rgba(48, 48, 48, 0.682);
}

.logo img {
    height: 60px;
}

.logo a {
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navContainer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
    background-color: #8EC5FC;
    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
    flex-wrap: wrap;
    padding: 10px;
}

.navContainer b {
    font-size: xx-large;
}

.navContainer a {
    text-decoration: none;
    color: black;
}

.links {
    display: flex;
    gap: 30px;
    font-weight: bold;
    text-shadow: 0px 0px 10px rgba(48, 48, 48, 0.682);
}

.links a {
    transition: all 0.2s linear 0s;
}

.links a:hover {
    transform: scale(1.1);
}

/* overlay nav Icon css started */
.navIcon {
    font-size: 30px;
    cursor: pointer;
    display: none;
}

.overlay {
    height: 100%;
    width: 101%;
    display: none;
    position: fixed;
    padding-top: 100px;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.overlay a:hover {
    color: #f1f1f1;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

@media (max-width: 515px) {
    .links {
        display: none;
    }

    .navIcon {
        display: block;
    }

    .overlay a {
        font-size: 20px
    }

    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }

}

/* overlay nav Icon css ended */

/* nav bar ended */

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.56);
    color: white;
    height: 39px;
}

.container {
    width: 100%;
    height: 100vh;
    background-color: azure;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
}

.container h1 {
    text-shadow: 0px 0px 20px black;
}

.card {
    width: 250px;
    height: 200px;
    background-color: rgb(227, 251, 251);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    transition: all 0.2s linear 0s;
    box-shadow: 0px 0px 30px black;
    cursor: pointer;
    flex-wrap: wrap;
    grid-gap: 30px;
}

.card img {
    width: 100px;
    filter: drop-shadow(0px 0px 10px black);
}

.row-flex {
    display: flex;
    grid-gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    top: 100px;
}

.sub-container-center {
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 1090px) {
    .row-flex {
        position: relative;
        top: 200px;
    }

    .container {
        padding-bottom: 850px;
    }
}

@media (max-width: 810px) {
    .row-flex {
        position: relative;
        top: 300px;
    }

    .container {
        padding-bottom: 1050px;
    }
}

@media (max-width: 530px) {
    .row-flex {
        position: relative;
        top: 650px;
    }

    .container {
        padding-bottom: 1750px;
    }
}

a {
    text-decoration: none;
    color: black;
}